WindowsFormsApplication1/bin/Debug/important.txt
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
*.exe
WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.pdb